<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>M6_Spring</title>
    <link th:replace="layout/templateLayout :: link-bootstrap">
</head>
<body>

<header th:replace="layout/templateLayout :: nav-general"></header>

<br>
<br>

<div class="position-relative">
    <h1 class="text-center">CONTACTO</h1>
</div>
<br>
<br>

<!-- Card que contiene form de crear capacitacion, el que debe enviar la informacion hacia la base de datos para ejecutar un metodo create -->
<div class="row row-cols-1 row-cols-md-1">
    <div class="col">
        <div class="card h-100 bg-secondary mx-auto" style="width: 400px;">
            <div class="card-body ">
                <h5 class="card-title text-center">CONTACTO</h5>
                <form th:action="@{/guardar-contacto}" method="post" th:object="${contacto}">
                    <div class="row mb-3">
                    	<input type="hidden" name="idcontacto" th:field="*{idcontacto}">
                        <div class="col-sm-10 mx-auto">
                            <input type="text" class="form-control" name="nombre"
                                   placeholder="Nombre" th:field="*{nombre}" required>
                            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 mx-auto">
                            <input type="email" class="form-control" name="email"
                                   placeholder="Email" th:field="*{email}" required>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error Email</span>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-sm-10 mx-auto">
                            <textarea class="form-control" name="mensaje"
                                   placeholder="Mensaje" th:field="*{mensaje}" required></textarea>
                            <span th:if="${#fields.hasErrors('mensaje')}" th:errors="*{mensaje}">Error Email</span>
                        </div>
                    </div>

                    

                    <div class="col-sm-10 mx-auto text-center">
                        <button type="submit" class="btn btn-primary col-sm-5">Guardar</button>
                        <button type="reset" class="btn btn-primary col-sm-5">Cancelar</button>
                        <br>
                        <br>
                        <a th:href="@{/}" class="btn btn-primary col-sm-5" role="button" aria-pressed="true">Regresar</a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<footer th:replace="layout/templateLayout :: footer"></footer>

<script th:replace="layout/templateLayout :: script-bootstrap1"></script>
<script th:replace="layout/templateLayout :: script-bootstrap2"></script>

</body>
</html>