<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>M6_Spring</title>
  <link th:replace="layout/templateLayout :: link-bootstrap">
</head>
<body>

<header th:replace="layout/templateLayout :: nav-general"></header>

<br>
<br>

<div class="row row-cols-1 row-cols-md-1">
  <div class="col">
    <div class="card h-100 mx-auto" style="width: 1200px;">
      <div class="card-body ">
      	<a th:href="@{/crear-pago}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Crear Pago</a>   
        <div class="position-relative">
          <h1 class="text-center">LISTA PAGOS</h1>                 
          
        </div>
        
        <br>

        <!-- Tabla que contiene datos para efectos de lista -->
        <table class="table">
          <thead class="table-secondary">
          <tr>
            <th>Nombre Curso</th>
            <th>Nombre Docente</th>
            <th>Fecha</th>
            <th>Tipo de Pago</th>
            <th>Monto</th>
            <th>Editar</th>
            <th>Eliminar</th>

          </tr>
          </thead>

          <tbody>

           <tr th:each="p : ${pagos}">
              <td th:text="${p.curso}"></td>
             <td th:text="${p.docente}"></td>
             <td th:text="${p.fecha}"></td>
             <td th:text="${p.tipopago}"></td>
             <td th:text="${p.monto}"></td>
             <td><a class="btn btn-primary" role="button" th:href="@{/editar-pago/} + ${p.idpago}" th:text="Editar"></a></td>
             <td><a class="btn btn-primary" role="button" th:href="@{/eliminar-pago(idpago=${p.idpago})}" th:text="Eliminar"></a></td>


            </tr>

          </tbody>

        </table>
      </div>
      <div class="text-center" th:if="${pagos == null or pagos.empty}">
        <p>La Lista de pagos esta vacia</p>
      </div>

      </div>
    </div>
  </div>

<br>
<br>

<footer th:replace="layout/templateLayout :: footer"></footer>

<script th:replace="layout/templateLayout :: script-bootstrap1"></script>
<script th:replace="layout/templateLayout :: script-bootstrap2"></script>

</body>
</html>